$duration: 1s;

.animation-fade{
  &-enter,
  &-leave-to{
    opacity: 0;
  }

  &-enter-active,
  &-leave-active{
    @include transition($duration);
  }
}

.animation-modal{
  &-enter,
  &-leave-to{
    opacity: 0;
    transform: scale(1.1);
  }

  &-enter-active,
  &-leave-active{
    @include transition($duration);
  }
}