@font-face {
  font-family: "PT Sans";
  src: url('../fonts/PT_Sans-Web-Bold.woff');
  font-weight: 700;
}
@font-face {
  font-family: "PT Sans";
  src: url('../fonts/PT_Sans-Web-Italic.woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "PT Sans";
  src: url('../fonts/PT_Sans-Web-Regular.woff');
  font-weight: 400;
}
@font-face {
  font-family: Literaturnaya;
  src: url('../fonts/ofont-ru-literaturnaya.woff');
  font-weight: 700;
}