.transport{
  padding: 45px 0;

  &-container{
    p{
      color: #0c1b2f;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    img{
      float: right;
      margin: 0 0 0 45px;
    }
  }

  &-items{
    margin: 40px auto;
    @include flex-box();
    @include justify-content(space-between);
  }

  &-item{
    width: 572px;
    border: 3px solid #8c9a4d;
    padding: 40px 30px 40px 30px;
    color: #0c1b2f;
  }

  &-heading{
    font-family: Literaturnaya;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px;
  }

  &-price{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 20px 0 0 0;
  }

  .text{
    color: #0c1b2f;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;

    span{
      font-weight: 700;
    }
  }
}